/* https://facelessuser.github.io/pymdown-extensions/extensions/tabbed/#styling-with-css */
/* TACC: Removed superfluous styles; see ../tacc-docs.css for re-skin CSS */

.tabbed-set {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.tabbed-set > input {
  display: none;
}

.tabbed-set label {
  white-space: nowrap;
  cursor: pointer;
}

.tabbed-set .tabbed-content {
  width: 100%;
  display: none;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

@media screen {
  .tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    order: 99;
    display: block;
  }
}

@media print {
  .tabbed-content {
    display: contents;
  }
}
