/* Styles loaded from TACC Core-Styles */
/* SEE: https://github.com/TACC/Core-Styles */
/* SEE: https://confluence.tacc.utexas.edu/x/FZh9E */

@import url('https://cdn.jsdelivr.net/npm/@tacc/core-styles@2.7.0/dist/core-styles.base.css') layer(base);
@import url('https://cdn.jsdelivr.net/npm/@tacc/core-styles@2.7.0/dist/core-styles.docs.css') layer(project);
