@layer project {



/* CONTENT */

/* To replicate highlightjs (hljs) styles on loose TACC-Docs classes */
/* FAQ: "Loose" classes being those that are not coupled with <code> */
/* CAVEAT: The `:has()` syntax is not supported in Firefox browser */
:is(.cmd-line, .job-script, .syntax):not(:has(code)) {
    padding: 1em;
    overflow: auto;
}
:is(.cmd-line, .job-script, .syntax):not(:has(code.hljs)) {
    color: #D0D0D0;
    background: #151515;
}



}
