/*
 * To support, in isolatation, patterns considered for core-styles.docs.css
 */
@import url('https://cdn.jsdelivr.net/npm/@tacc/core-styles@2.6.2/dist/components/c-card.css');
/* TODO: After launch, delete prod.tup.tacc.utexas.edu c-card.css */
@import url('https://prod.tup.tacc.utexas.edu/static/tup-cms/css/for-core-styles/components/c-card.css');
@import url('https://tacc.utexas.edu/static/tup-cms/css/for-core-styles/components/c-card.css');
@import url('https://cdn.jsdelivr.net/npm/@tacc/core-styles@2.6.2/dist/objects/o-section.css');



/* To add border to .o-section's */
.section--has-border {
  --border-width: var(--global-border-width--normal);
  --border-width-neg: calc( -1 * var(--border-width) );
  --border-color: var(--global-color-primary--dark);

  --line-top:
    0 var(--border-width-neg) var(--border-color);
  --line-top-left:
    -50vw var(--border-width-neg) var(--border-color);
  --line-top-right:
    50vw var(--border-width-neg) var(--border-color);

  --line-bottom:
    0 var(--border-width) var(--border-color);
  --line-bottom-left:
    -50vw var(--border-width) var(--border-color);
  --line-bottom-right:
    50vw var(--border-width) var(--border-color);

  --fake-bkgd: var(--box-shadow--fake-bkgd); /* from core-styles o-section */

  box-shadow:
    var(--fake-bkgd),
    var(--line-top),
    var(--line-top-left),
    var(--line-top-right),
    var(--line-bottom),
    var(--line-bottom-left),
    var(--line-bottom-right);
}



/* To remove margin-bottom from all .o-section children */
[class*="section--"].o-grid > * {
  margin-bottom: unset;
}



/* To make card paragraphs match those in Core CMS */
[class*="card--"] p {
  margin-top: 0; /* mimics Bootstrap _reboot.scss */
}



/* To style a linked card */
a[class*="card--"]:not([class*="card--image"]) {
  display: block;
}
a[class*="card--"],
a[class*="card--"]:hover /* overwrite core-styles.base.css */ {
  color: inherit;
}
a[class*="card--"]:hover {
  text-decoration: none;
}
a[class*="card--"]:hover :is( h1, h2, h3, h4, h5, h6 ) {
  /* To mimic TACC/Core-Styles .x-link */
  text-underline-offset: 0.2em;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: var(--global-border-width--normal);
}
a[class*="card--"]:active :is( h1, h2, h3, h4, h5, h6 ) {
  /* To mimic TACC/Core-Styles .x-link */
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
